{% extends "./base1.html" %}

{% block title %} Edicion Vehiculo {% endblock %}

{% block body %}
<h1>Catalogo de Vehículos</h1>
<h5>no loguedo solo puede ver solo inicio</h5>
<h5>usuario: admin  Password: admin  puede ver todo </h5>
<h5>usuario: admin2 Password: admin2 es staf y puede ver inicio, Agregar, listar y listar JS </h5>
<h5>usuario: admin3 Password: admin3 no es staf y puede ver inicio, listar y listar JS </h5>
<h5>Los usuarios nuevos podran ver inicio listar y listar JS, además tendra permiso (x permission visualizar_catalogo) </h5>
{% endblock %}